/BaselinePrediction/.out/roberta-base/subtask A/Novelty-3/
/BaselinePrediction/.out/roberta-base/subtask A/Validity-3/
/BaselinePrediction/.out/roberta-base/subtask B/Validity-3/
/BaselinePrediction/.out/roberta-base/subtask B/Novelty-3/
